@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Fugaz+One&display=swap');


/* src/styles.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  h1, h2, h3, h4, h5, h6{
      @apply font-bold;
  }

  h1 {
    @apply text-[clamp(1.75rem,1.1578947368421053rem+2.9605263157894735vw,4rem)] ;
  }
  h2 {
    @apply text-[clamp(1.7rem,1.3285714285714285rem+1.8571428571428572vw,3rem)] ;
  }

  h3 {
    @apply text-[clamp(1.6rem,1.342857142857143rem+1.2857142857142856vw,2.5rem)] ;
  }
  
  h4 {
    @apply text-[1.4rem] ;
  }
  h5 {
    @apply text-[1.25rem];
  }
  h6 {
    @apply text-[1rem];
  }
  * {
    @apply scroll-smooth;
  }
  body {
    @apply text-font-color bg-white dark:bg-black overflow-x-hidden font-manrope font-medium;
  }
  p,
  span,
  li,
  a,b {
    @apply text-[14px] leading-loose;
  }
  a{
    @apply hover:scale-105 duration-500
  }
  header a{
    @apply hover:text-inherit duration-500
  }
  footer a{
    @apply hover:font-bold 
  }

  ul,ol{
    @apply space-y-1 mb-1.5 ml-8
  }

  ul{
    list-style: outside;
    /* margin-left: 2rem; */
  }
  ol{
    list-style: decimal;
    /* margin-left: 1rem; */
  }

  table{
    @apply !text-white
  }

  td, th{
    @apply text-nowrap
  }
  thead, thead>tr, tfoot>tr{
    @apply !bg-custom-primary text-white
  }
  th{
    @apply !bg-custom-primary
  }
  tbody td{
    @apply text-black dark:text-white
  }

  .fromWrapper input,
  .fromWrapper textarea,
  .fromWrapper select {
    @apply border-[#ffffff4d];
  }

  /* input,textarea {
    @apply focus:invalid:border focus:invalid:border-rose-300 focus:valid:border focus:valid:border-custom-primary;
  } */
}

@layer utilities {

  /* NavBar */

  .navbarAnimation {
    background-color: #1d0f2466;
    color: white;
    backdrop-filter: blur(20px);
  }

  /* Section Header */

  .sectionHeaderWidth{
    @apply w-[90%] sm:w-[70%] mx-auto
  }
  .sectionHeaderSubtextWidth{
    @apply text-[16px] xs:text-lg md:text-xl
  }

  /* Buttons */

  .primaryButton{
    @apply cursor-pointer px-4 py-2 text-center text-sm text-nowrap font-bold rounded-md duration-500 text-white bg-custom-primary border border-custom-primary dark:hover:border-white hover:shadow-sm 
  }
  .activePrimaryButton{
    @apply hover:bg-custom-half-primary hover:text-custom-primary dark:hover:text-white
  }

  .primaryButton2{
    @apply cursor-pointer text-center text-sm text-nowrap font-bold rounded-md duration-500 text-custom-primary bg-transparent border border-custom-primary hover:shadow-sm 
  }
  .activePrimaryButton2{
    @apply hover:bg-custom-primary hover:text-white
  }

  .joinedFilterButton{
    @apply bg-white duration-500 hover:bg-custom-primary btn join-item border border-gray-300 hover:border-gray-300 text-inherit
  }

  /* Form and Inputs */

  .fromWrapper{
    @apply card w-full shrink-0 bg-custom-primary text-white shadow-xl p-4 md:p-8 my-20 space-y-4 
  }
  .formSubmitBtn{
    @apply btn btn-block !bg-white hover:!bg-custom-primary !border-white !text-custom-primary hover:!text-white
  }
  .input:focus, .input:focus-within,
  .textarea:focus, .textarea:focus-within,
  .select:focus, .select:focus-within{
    @apply border-white
  }
  .input:focus, .input:focus-within,
  .textarea:focus, .textarea:focus-within,
  .select:focus, .select:focus-within{
    color: inherit;
    background-color: transparent !important;
  }
  .input:disabled ,
  .textarea:disabled {
    color: #7272729b;
    border-color: #7272729b !important;
    background-color: #6868682b !important;
  }
  .invalidInput{
    @apply border focus:border-rose-300
  }

  .customInput{
    @apply input-ghost !text-custom-primary border-custom-primary focus:border-custom-primary
  }

  /* Dashboard */

  .stat-title{
    @apply text-black dark:text-white
  }
  .stat-value{
    @apply text-custom-primary
  }

  /* Footer */

  .footerCopyRights a {
    animation: glowMyPortfolioLink 5s linear infinite;
  }
  
  @keyframes glowMyPortfolioLink {
    /* #4b57ff', '#675cff */
    0% {
      color: #1C0F23;
    }
  
    10% {
      color:  #1a1e62;
    }
    50% {
      color:  #312c7e;
    }
    90% {
      color:  #0b073f;
    }
    100% {
      color: #1C0F23
    }
  }

  /* Scrollbar */

  .hide-scrollbar {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .hide-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Menu UL OL */

  ul > :not([hidden]) ~ :not([hidden]), ol > :not([hidden]) ~ :not([hidden]) {
    --tw-space-y-reverse: 0;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }

  .menu li > *:not(ul,.themeController, .menu-title, details, .btn):active, .menu li > *:not(ul,.themeController, .menu-title, details, .btn).active, .menu li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: inherit;
    color: inherit;
    /* border-radius: 0px;
    border-bottom: 2px solid; */
    color: #1e1e1e;
    font-weight: 600;
  }
  .menu li > .themeController:active ,.themeController:focus, .menu li > .themeController.active {
    border: none !important;
  }
  .themeController:hover, .themeController:focus{
    color:inherit !important;
    background-color: transparent !important;
  }

  .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    @apply pl-0 lg:pl-4 ml-4 lg:ml-0 

  }
  .drawer-side .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .drawer-side .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
    margin-inline: 0px;
    padding-inline: 0px !important;
    padding-right: 1rem !important;
  }

  @media (min-width: 1024px) {
    .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
      margin-inline: 0px;
      padding-inline: 1rem;
    }
  }
  .menu :where(li:not(.menu-title) > *:not(ul, details, .menu-title, .btn)), .menu :where(li:not(.menu-title) > details > summary:not(.menu-title)) {
      margin-inline: 0px;
      padding-inline: 1rem;
  }

  /* ADD Session  */

  .input-box:has(.input-field:focus-within) .input-label{
    display: none;
  }
  .inputIconChange{
    @apply [color-scheme:light] dark:[color-scheme:dark]
  }

  .itsLongDispriction{
    line-height: 1.6rem !important;
  }
  .itsLongDispriction p{
    margin-bottom: 8px !important;
  }
  .itsLongDispriction h4,
  .itsLongDispriction h5,
  .itsLongDispriction h6{
    line-height: 2rem !important;
  }
  .itsLongDispriction h4{
    margin-block: 20px !important;
  }
  .itsLongDispriction h5{
    margin-block: 12px !important;
  }
  .itsLongDispriction h6{
    margin-block: 8px !important;
  }


}
